export(azimuth, angSep, b2j, beamDiskOverlap, dmjd2ut, dms2rad, elev, gmst1,
        hms2rad, j2b, jd2ymd, planetFlux, rad2dms, rad2hms,
        ut2dmjd, ut2ha, ut2lst, ymd2jd)
S3method(print, b2j)
S3method(print, j2b)
S3method(print, fracHrs)
